/**corresponde a index.html*/
h1{color: color(prophoto-rgb 0 0 0);

  margin-top: 100px;
  
  text-align: center;

}


.clearfix{ margin-left: 40%;
           margin-top: 60px;
           margin-bottom:60px ;
           padding-right: 60px;

}


}

img{
    
    margin-bottom: 80px;
    text-align: center;

}

h2{text-align: center;
  padding-left: 50px;
  margin-right: 50px;
}


.btn-group{width: 200px;

          margin-left: 100px;
           margin-top: 35px;
           padding-right: 50px;
}
.btn-group-1{width: 800px;
              display: inline;
              text-align: center;
}
.btn{  }
h1, h2{
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.container{ margin: 0 auto;
            margin-top: 20px;
            width: 500px;           
}
/**corresponde a mensajes.html*/

 
 body{
      background-color: #9fff9f;

 }
 form{
      margin: 0 auto;
      margin-top: 50px;
      width: 300px;
      background-color: white;
      padding: 10px;
      border-radius: 5px;
      color: #999;
      font-size: 13px;
      font-family: 'Montserrat', sans-serif;
      font-family: 'Roboto', sans-serif;
      }
input, textarea{
                outline-color: #9fff9f;
                width: 280px;

}
.formu{
        padding: 10px;
        width: 280px;
}
.btn btn-primary{ 
        width: 280px;
 }
/**pie de pagina*/
#pie{
      width: 50px;
      background-color: lightblue;
      display:inline;
      margin-left: 30px; 
      margin-top: -20px;    
}

      